@import "var"
.fav-page
  @media screen and (max-width: 1600px)
    .wrapp
      width: 100%
    .welcome
      background: none
      &__block
        margin-right: 6%
    .predict,
      .results
        background: none
    .results
      //.wrapp
      //  margin-top: 0
      &:before
        top: 29px

  @media screen and (max-width: 1500px)
    .welcome
      margin-bottom: 30px
    .predict
      &:after
        bottom: -1px
      &__content
        width: 95%
      .wrapp
        background-position: calc(50% - 65px) center
        background-size: auto 784px
        &__cont
          margin-top: 40px
      &__right
        &:after
          bottom: -152px
    .results
      &:after
        top: 771px
      &:before
        top: -1px
      .wrapp
        margin-top: 0
        background-size: auto 969px

  @media screen and (max-width: 1400px)
    .welcome
      margin-bottom: 0
      &:after
        top: 604px
      &__block
        margin-top: 70px
      .wrapp
        background-size: auto 803px
    .results
      margin-top: -20px
      &:after
        top: 704px
      .wrapp
        background-size: auto 903px
      .table
        transform: scale(0.97)
        transform-origin: top

  @media screen and (max-width: 1350px)
    .welcome
      //&__block
      //  margin-right: 4.5%
    .predict
      &:after
        bottom: 50px
      &__left
        transform: scale(0.9)
        transform-origin: top left
      &__title
        font-size: 65px
      &__info
        font-size: 22px
      .wrapp
        background-position: calc(50% - 110px) center
        &__cont
          width: 1160px
    .results
      margin-top: -50px
      &:after
        top: 672px
      &__title
        font-size: 50px
        margin-bottom: -31px
      .wrapp
        background-size: auto 870px
      .table
        transform: scale(0.9)
        transform-origin: top
    .bottom
      margin-top: -30px

  @media screen and (max-width: 1260px)
    .welcome
      margin-bottom: -40px
      &:after
        top: 506px
      .wrapp
        background-size: auto 704px
      .drop
        margin-top: 30px
        &-txt
          width: 430px
      &__block
        margin-right: 6%
        width: 400px
      &__title
        width: 400px
        &-bottom
          width: 200px
      &__prize
        &-top
          font-size: 25px
        &-center
          font-size: 118px
          white-space: nowrap
          span
            font-size: 25px
            line-height: 75px
        &-bottom
          font-size: 14px
          margin-bottom: 25px
    .predict
      &:after
        bottom: 77px
      .wrapp
        background-position: calc(50% - 155px) center
        &__cont
          z-index: 3
          transform: scale(0.83)
    .results
      margin-top: -80px
      &:after
        top: 615px
      &__title
        font-size: 45px
        margin-bottom: -29px
      .wrapp
        background-size: auto 813px
      .table
        transform: scale(0.8)
    .bottom
      margin-top: -120px

  @media screen and (max-width: 1090px)
    .welcome
      .drop
        &-txt
          width: 425px
    .results
      .wrapp
        background-size: auto 730px
      &:after
        top: 531px

  @media screen and (max-width: 1050px)
    .btn
      min-width: 300px
      height: 58px
      font-size: 22px
      letter-spacing: 0.88px
    .welcome
      margin-bottom: 0
      &:after
        top: initial
        bottom: 0
        height: 100px
      .wrapp
        //background-size: auto 758px
        background-size: cover
      &__block
        width: 335px
        margin-right: 9%
        margin-top: 44px
      &__title
        width: 302px
        margin-left: -17px
        margin-bottom: 24px
        &-bottom
          width: 142px
      &__prize
        &-top
          font-size: 20px
          letter-spacing: 0.194px
        &-center
          font-size: 98px
          line-height: 107px
          letter-spacing: 0.98px
          span
            font-size: 24px
            line-height: 42px
        &-bottom
          font-size: 12px
          line-height: 18px
          letter-spacing: 0.24px
      .drop
        min-width: 300px
        height: 58px
        margin-top: 19px
        margin-bottom: 90px
        summary
          font-size: 22px
        &-txt
          width: 360px
          padding: 20px 15px 15px 20px
    .predict
      &:after
        bottom: -1px
      .wrapp
        background-size: auto 681px
        background-position: calc(50% - 28px) 33%
        &__cont
          transform: scale(1)
          width: 763px
          margin-bottom: 20px
      &__title
        font-size: 60px
        font-family: $font-2-quadro-tight-regular
        margin-bottom: 0
      &__info
        font-size: 16px
        letter-spacing: 0.32px
      &__content
        width: 100%
      &__left
        transform: scale(1)
        transform-origin: center
        margin-top: 19px
        &-title
          font-size: 16px
          letter-spacing: 0.16px
          &:before,
          &:after
            width: 90px
        &-container
          &:nth-child(1)
            width: 321px
            height: 135px
          &:nth-child(2)
            width: 321px
            height: 114px
            .predict__left-title
              margin-bottom: 10px
              &:before,
              &:after
                width: 70px
        &-fighter
          font-size: 16px
          letter-spacing: 0.16px
        &-counter
          text-shadow: 0px 2.669px 6.673px rgba(0, 0, 0, 0.60)
          font-size: 26px
          line-height: 21px
          letter-spacing: 0.52px
          width: 13px
        &-result
          font-size: 11px
          text-shadow: 0px 1.335px 0px rgba(0, 0, 0, 0.25)
          letter-spacing: 0.22px
        &-last
          margin-bottom: 5px
      .btn
          bottom: -58px
      &__minus,
      &__plus
        width: 56px
        height: 48px
      &__number,
      &__judges
        width: 44px
        height: 55px
        margin: 6px 27px 0
        font-size: 68px
        letter-spacing: 1.36px
        line-height: 55px
        text-shadow: 0px 2.669px 6.673px rgba(0, 0, 0, 0.20)
      &__judges
        width: 104px
        font-size: 14px
        line-height: 18px
        margin: -2px -3px 8px
      &__right
        &:after
          height: 319px
          bottom: -61px
          width: 1300px
          right: -350px
          animation: moveLeftRightTab 10s ease-in-out infinite alternate
        &-fighter
          height: 100px
          &:nth-child(1)
            width: 137px
          &:nth-child(2)
            margin-left: 100px
            width: 103px
        &-belt
          width: 529px
          right: -113px
          bottom: 14px
          z-index: 2
    .results
      margin-top: 0
      &:before
        top: 52px
      &:after
        top: 525px
      &__title
        font-family: $font-2-quadro-tight-regular
        font-size: 60px
        text-shadow: 0px 0px 40px #01013E
      .wrapp
        background-size: auto 669px
      .table
        transform: scale(1)
        width: 500px
        min-height: 561px
        height: 561px
        .table__row
          &-item
            height: 38px
            font-size: 14px
            letter-spacing: 0.14px
            padding: 0 10px 0 10px
            &:nth-child(1)
              width: 90px
            &:nth-child(2)
              width: 140px
            &:nth-child(3)
              width: 90px
              padding-left: 3px
              font-size: 11px
            &:nth-child(4)
              width: 157px
              font-size: 10px
        &__head
          padding: 37px 21px 0px 10px
          .table__row
            &-item
              font-size: 12px
              height: 30px
              letter-spacing: 0.12px
              white-space: nowrap
              &:not(:last-child)
                &:after
                  height: 491px
                  right: 4px
              &:nth-child(1)
                width: 90px
              &:nth-child(2)
                width: 140px
              &:nth-child(3)
                width: 90px
                padding-left: 4px
                font-size: 12px
              &:nth-child(4)
                width: 157px
                font-size: 12px
                padding-left: 14px
        &__body
          width: 99%
          &-scroll
            margin-top: -4px
            min-height: 451px
            max-height: 451px
          .table
            &__row
              &.you
                width: 96.2%
                padding-left: 2px
                .table__row-item
                  &:nth-child(3)
                    padding-left: 1px
                  &:nth-child(4)
                    padding-left: 7px
                .you
                  font-size: 16px
                  letter-spacing: 0.32px
                  width: 38px
                  height: 21px
                  left: 60px
      .bottom
        width: 500px
        margin-top: 20px
        .details
          flex-direction: column-reverse
          align-items: center
          &__txt
            width: 100%
            margin-top: 30px
            font-size: 8px
            line-height: 10px
            letter-spacing: 0.16px
        .info
          font-size: 8px
          line-height: 10px
        .drop
          summary
            font-size: 18px
            letter-spacing: 0.72px
            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.40)

  @media screen and (max-width: 980px)
    .predict
      .wrapp
        background-position: calc(50% - 61px) 33%
        &__cont
          width: 697px
      &__right
        &-belt
          width: 513px
          right: -108px
    .results
      &:after
        top: 481px
      .wrapp
        background-size: auto 625px
        background-position: 50% 54px

  @media screen and (max-width: 880px)
    .welcome
      &:after
        height: 56px
      &__block
        margin-right: 5%
      .drop
        margin-bottom: 60px
        summary
          margin-bottom: 0
        &-txt
          width: 335px
    .predict
      .wrapp
        background-size: auto 587px
        background-position: calc(50% - 26px) 33%
      &__right
        &:after
          bottom: -32px
        &-belt
          bottom: 42px
    .results
      &:after
        top: 415px
      .wrapp
        background-size: auto 560px

  @media screen and (max-width: 800px)
    .welcome
      .drop
        margin-bottom: 0
      .wrapp
        background-size: auto 573px
    .results
      &:after
        top: 370px
      .wrapp
        background-size: auto 514px

  @media screen and (max-width: 750px)
    .welcome
      .wrapp
        background-position: 20% 0
    .predict
      .wrapp
        background-size: auto 521px
      &__left
        transform: scale(0.85)
      &__content
        width: 96%
      &__top
        margin-left: 30px
    .results
      &:after
        top: 335px
      .wrapp
        background-size: auto 479px

  @media screen and (max-width: 717px)
    .predict
      &__content
        width: 94%
      .wrapp
        background-position: calc(50% - 38px) 33%

  @media screen and (max-width: 690px)
    .welcome
      &__block
        transform: scale(0.85)
        transform-origin: top right
        z-index: 5
    .predict
      .wrapp
        background-size: auto 494px
      &__top
        margin-left: 45px
      &__left
        transform: scale(0.75)
      &__content
        width: 90%
      &__right
        &-belt
          right: -97px


  @media screen and (max-width: 649px)
    .welcome
      &:after
        bottom: 20px
      .wrapp
        background-size: auto 480px
        margin-bottom: -50px
    .predict
      &:after
        bottom: 157px
      .wrapp
        background-position: 35% -95%
        background-size: auto 683px
        &__cont
          margin-bottom: -10px
      &__top
        z-index: 4
        margin: 0 auto 30px
        width: 344px
        white-space: nowrap
      &__content
        width: 100%
        flex-direction: column-reverse
        justify-content: center
        align-items: center
      &__left
        transform: scale(1)
        //&:after
        //  left: -400px
        //  z-index: 0
        //  content: ""
        //  position: absolute
        //  width: 1000px
        //  height: 400px
        //  bottom: 30px
        //  background: url('../img/smoke-red.png') no-repeat 50% 76%
        &-container
          z-index: 3
          &:nth-child(2)
            margin-bottom: 22px
      &__right
        padding-bottom: 130px
        &:after
          bottom: -138px
        &-belt
          bottom: -61px
          right: -101px
    .results
      &:before
        animation: moveLeftRightMob 8s ease-in-out infinite alternate
        left: -500px
        z-index: 0
        content: ""
        position: absolute
        width: 1700px
        height: 190px
        top: -38px
        background: url('../img/smoke-blue.png') no-repeat 50% 76%
      &:after
        animation: moveLeftRightMob 8s ease-in-out infinite alternate
        top: 336px
        width: 122%
        height: 370px
        background: url('../img/smoke-red.png') no-repeat 50% 100%
      .wrapp
        background: none
      .table
        position: relative
      .bottom
        &:before
          position: absolute
          content: ""
          width: 672px
          background: linear-gradient(0deg, #01013E 0%, rgba(1, 1, 62, 0.00) 100%)
          top: -58px
          left: -100px
          height: 117px


  @media screen and (max-width: 600px)
    .btn
      min-width: 300px
      width: 300px
      background-size: 100% 100%
    .welcome
      z-index: 4
      &:after
        bottom: 168px
        height: 117px
      &__usyk
        display: block
        position: absolute
        left: -147px
        max-width: 396px
        top: 8px
        z-index: 0
        &:before
          position: absolute
          content: ""
          width: 600px
          background: linear-gradient(0deg, #01013E 0%, rgba(1, 1, 62, 0.00) 100%)
          bottom: 0
          left: 0
          height: 117px
      .wrapp
        margin-bottom: 0
        background-size: auto 722px
        background-position: center calc(50% - 164px)
      &__block
        transform: scale(1)
        width: 322px
        margin: 25px auto 0
        padding-left: 0
        align-items: center
      &__title
        margin-left: 0
        align-items: flex-end
        margin-bottom: 226px
        &-top
          margin-bottom: -5px
      &__prize
        position: relative
        z-index: 2
        &-center
          font-size: 80px
          line-height: 80px
          span
            font-size: 22px
            line-height: 72px
        &-bottom
          width: 320px
          left: -24px
          position: absolute
          top: 186px
          font-size: 16px
          line-height: 22px
          &:after
            z-index: -1
            content: ""
            position: absolute
            left: -200px
            animation: moveLeftRightMob 8s ease-in-out infinite alternate
            top: -65px
            width: 750px
            height: 290px
            background: url('../img/smoke-red.png') no-repeat 50% 100%

      .btn
        margin-bottom: 112px
      .drop
        width: 300px
        min-width: 300px
        //&:before
        //  position: absolute
        //  content: ""
        //  width: 600px
        //  background: linear-gradient(0deg, #01013E 0%, rgba(1, 1, 62, 0.00) 100%)
        //  top: 33px
        //  left: -140px
        //  height: 117px
    .predict
      &:after
        bottom: 188px
      .wrapp
        background-position: 41% calc(50% - 90px)
        background-size: auto 550px
        &:before
          position: absolute
          content: ""
          width: 600px
          background: linear-gradient(0deg, #01013E 0%, rgba(1, 1, 62, 0.00) 100%)
          top: -24px
          left: -10px
          height: 117px
      &__content
        width: 340px
        margin: 0 auto
      &__top
        z-index: 3
        margin-bottom: 20px
        width: 340px
        padding-left: 20px
      &__title
        z-index: 1
        &:after
          position: absolute
          content: ""
          width: 600px
          background: linear-gradient(180deg, #01013E 0%, rgba(1, 1, 62, 0.00) 100%)
          top: 52px
          left: -130px
          height: 117px
      &__info
        z-index: 3
      &__left
        &:before
          animation: moveLeftRightMob 12s ease-in-out infinite alternate
          position: absolute
          content: ""
          width: 1000px
          background: url('../img/smoke-red.png') no-repeat 50% 100%
          top: 63px
          left: -300px
          height: 275px
        &-container
          &:nth-child(1)
            width: 342px
            height: 147px
            margin-bottom: 74px
            //background: url("../img/predict/forecast-bg-mob.jpg") no-repeat 100% 0 / contain
          &:nth-child(2)
            width: 342px
            .predict__left-title
              margin-top: 22px
              margin-bottom: 14px
      .btn
        width: 340px
        bottom: -54px
      &__right
        &:after
          bottom: -164px
        &-belt
          right: -103px
          width: 479px
          bottom: -47px
        &-fighter
          &:nth-child(1)
            width: 125px
          &:nth-child(2)
            width: 95px
            margin-left: 82px
    .results
      &:before
        top: -114px
        height: 239px
      &__title
        margin-bottom: -33px
      .table
        width: 375px
        min-height: 561px
        height: 561px
        .table__row
          &-item
            height: 54px
            align-items: flex-start
            &:nth-child(1)
              width: 109px
            &:nth-child(4)
              font-size: 9px
              line-height: 10px
              padding-right: 4px
        &__head
          padding-top: 50px
          .table__row
            height: 35px
            &-item
              height: 34px
              &:nth-child(1)
                width: 78px
              &:nth-child(4)
                font-size: 12px
                line-height: 14px
              &:not(:last-child)
                &:after
                  display: none
        &__row
          &-item
            height: 52px
            &:nth-child(4)
              padding-right: 2px
        &__body
          &-scroll
            margin-top: -4px
            min-height: 421px
            max-height: 421px
          .table__row
            &.you
              width: 92%
              .table__row-item
                padding-top: 6px
                &:nth-child(1)
                  padding-left: 2px
              .you
                left: 5px
                bottom: 10px
      .bottom
        width: 375px
        &:before
          top: -53px

  @media screen and (max-width: 540px)
    .welcome
      &:after
        bottom: 223px
      .wrapp
        background-size: auto 644px
        background-position: center calc(50% - 181px)
      &__usyk
        left: -109px
        max-width: 349px
        top: 15px
        &:before
          bottom: 3px
          left: -5px

  @media screen and (max-width: 490px)
    .welcome
      &:after
        bottom: 210px
      .wrapp
        background-size: auto 585px
        background-position: center calc(50% - 160px)
      &__title
        margin-bottom: 183px
      &__usyk
        left: -81px
        max-width: 312px
        &:before
          bottom: -19px

  @media screen and (max-width: 450px)
    .welcome
      &:after
        bottom: 216px
      .wrapp
        background-size: auto 540px
        background-position: center calc(50% - 160px)
      &__usyk
        top: 38px
        left: -63px
        width: 292px
      &__prize
        &-bottom
          &:after
            height: 180px
            background-size: 100% 100%
    .predict
      &:after
        bottom: 277px
      .wrapp
        background-size: auto 423px
        background-position: 41% calc(50% - 116px)
      &__left
        &:before
          animation: moveLeftRightMob 5s ease-in-out infinite alternate
          width: 600px
          left: -109px
          height: 275px
          top: 63px
          background-size: 100% 100%
      &__right
        padding-bottom: 115px
        &:after
          bottom: -84px
          height: 200px
          width: 800px
          background-size: 100% 100%
    .results
      &:before
        top: -49px
      .bottom
        align-items: center
        .details
          width: 301px
        .info
          width: 301px
          margin: 20px auto 30px
        .drop
          max-width: 301px
          min-width: 301px
          summary
            height: 88px

  @media screen and (max-width: 411px)
    .welcome
      &:after
        bottom: 218px
      .wrapp
        background-size: auto 492px
        background-position: center calc(50% - 160px)
      .drop
        &-txt
          width: 100%
      &__title
        margin-bottom: 150px
      &__usyk
        top: 30px
        left: -47px
        width: 268px
        &:before
          bottom: -2px

  @media screen and (max-width: 380px)
    .welcome
      &:after
        bottom: 218px
      &__title
        margin-bottom: 120px
      &__usyk
        top: 34px
        left: -30px
        width: 247px
      .wrapp
        background-size: auto 459px
        background-position: center calc(50% - 150px)

  @media screen and (max-width: 374px)
    .results
      margin-top: -20px
      .bottom
        &:before
          top: 0
      .table
        transform: scale(0.9)
        margin-bottom: -50px
    .predict
      .wrapp
        background-size: auto 357px
      &__left
        &-container
          &:nth-child(1),
          &:nth-child(2)
            transform: scale(0.9)
          &:nth-child(1)
            margin-bottom: 60px
          &:nth-child(2)
            margin-bottom: 26px
      &__right
        padding-bottom: 100px
        &-belt
          right: -82px
          width: 442px

  @media screen and (max-width: 350px)
    .welcome
      .wrapp
        background-size: auto 422px
    .results
      .table
        transform: scale(0.85)
        margin-bottom: -80px





















