button.menu-btn menu
.menu-test
    button.dark-btn dark
    button.lng-btn en
    button.auth-btn auth
    button.btn-predictNum прогноз 1
    button.btn-predictJud прогноз судді
    button.btn-confirmed confirmed
    button.btn-end end
.fav-page.loading#champion-challenge-usyk
    .spinner-overlay
        .spinner
    .welcome
        .wrapp
            .welcome__block
                .welcome__title
                    .welcome__title-top
                        picture.uk
                            img(src="img/welcome/welcome-title1.png" alt="text")
                        picture.en
                            img(src="img/welcome/welcome-title1-en.png" alt="text")
                    .welcome__title-bottom
                        picture.uk
                            img(src="img/welcome/welcome-title2.png" alt="text")
                        picture.en
                            img(src="img/welcome/welcome-title2-en.png" alt="text")
                .welcome__usyk
                    img(src="img/welcome/usyk.png" alt="Usyk")
                .welcome__prize
                    .welcome__prize-top(data-translate="prizeFond") Призовий фонд
                    .welcome__prize-center(data-translate="prizeMoney") 1 000 000 ₴ #[span *]
                    .welcome__prize-bottom(data-translate="prizeInfo") З 12:00 15 липня до 22:29 19 липня 2025 року прогнозуй, в якому раунді закінчиться бій, здійснюй ставку від 200 ₴ та отримай шанс розділити призовий фонд 1 000 000 ₴
                a.welcome__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="champion_challenge_usyk_15072025" data-button="authorization_header") Авторизуйся
                button.welcome__btn.btn.scroll-part-btn.hide(data-translate="partBtn" data-promo="champion_challenge_usyk_15072025" data-button="takePart_header") Зробити прогноз
                .drop.welcome__dropp
                    details.dropdown
                        summary(data-translate="detailsTitle" data-click-drop="дроп Правила") Деталі
                        .drop-txt
                            .drop-txt-list(data-translate="detailsTxt") #[span 1.] Введи точний раунд Авторизуйся на акційній сторінці, натиснувши кнопку «Авторизуйся», після чого зроби точний прогноз на раунд, в якому закінчиться бій «Олександр Усик — Даніель Дюбуа».<br>2. Натисни кнопку «Зробити прогноз» Після введення раунду натискай кнопку «Зробити прогноз». В акції враховуватиметься лише останній прогноз, зроблений Учасником до початку бою.<br>3. Зроби виграшну ставку<br> З 12:00 15 липня до 23:29:59 19 липня роби ставки від 200 ₴ на бій «Олександр Усик - Даніель Дюбуа» та отримай шанс розділити призовий фонд 1 000 000 ₴. Враховуються виключно розраховані ставки типу «Ординар», з мінімальним коефіцієнтом – 1.5.Враховуються виключно розраховані ставки типу «Ординар», з мінімальним коефіцієнтом – 1.5.Враховуються виключно розраховані ставки типу «Ординар», з мінімальним коефіцієнтом – 1.5.Враховуються виключно розраховані ставки типу «Ординар», з мінімальним коефіцієнтом – 1.5.
    .predict
        .wrapp
            .wrapp__cont
                .predict__top
                    .predict__title(data-translate="predictTitle") Вгадай раунд
                    .predict__info(data-translate="predictInfo") прогнозуй, в якому раунді закінчиться бій
                .predict__content
                    .predict__left
                        .predict__left-container
                            .predict__left-title(data-translate="yourPredict") Твій прогноз
                            .predict__left-block
                                button.predict__minus &#8203;
                                .predict__number 12
                                .predict__judges.hide(data-translate="judgesDecision") За рішенням суддів
                                button.predict__plus &#8203;
                            a.welcome__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="champion_challenge_usyk_15072025" data-button="authorization_content") Авторизуйся
                            buttom.welcome__btn.btn.btn-join.hide(data-promo="champion_challenge_usyk_15072025" data-button="placeBet_content") #[span.btn-txt(data-translate="partBtn") Зробити прогноз]
                        .predict__left-container
                            .predict__left-title(data-translate="lastPredict") останній прогноз
                            .predict__left-last.number
                                .predict__left-fighter(data-translate="Usyk") Олександр Усик
                                .predict__left-counter -
                                .predict__left-fighter(data-translate="Dubois") Даниель Дюбуа
                            .predict__left-last.judges.hide(data-translate="judgesDecision") За рішенням суддів
                            .predict__left-result.confirmed.hide(data-translate="confirmed") Прогноз підтверджено ставкою
                            .predict__left-result.unconfirmed(data-translate="unconfirmed") Прогноз не підтверджено ставкою
                    .predict__right
                        .predict__right-fighter
                            picture.uk
                                source(media="(max-width: 600px)" srcset="img/predict/fighter-1-mob.png")
                                source(media="(max-width: 1050px)" srcset="img/predict/fighter-1-tab.png")
                                img(src="img/predict/fighter-1-desk.png" alt="text")
                            picture.en
                                source(media="(max-width: 600px)" srcset="img/predict/fighter-1-mob-en.png")
                                source(media="(max-width: 1050px)" srcset="img/predict/fighter-1-tab-en.png")
                                img(src="img/predict/fighter-1-desk-en.png" alt="text")
                        .predict__right-fighter
                            picture.uk
                                source(media="(max-width: 600px)" srcset="img/predict/fighter-2-mob.png")
                                source(media="(max-width: 1050px)" srcset="img/predict/fighter-2-tab.png")
                                img(src="img/predict/fighter-2-desk.png" alt="text")
                            picture.en
                                source(media="(max-width: 600px)" srcset="img/predict/fighter-2-mob-en.png")
                                source(media="(max-width: 1050px)" srcset="img/predict/fighter-2-tab-en.png")
                                img(src="img/predict/fighter-2-desk-en.png" alt="text")
                        .predict__right-belt
                            picture
                                source(media="(max-width: 600px)" srcset="img/predict/belt-mob.png")
                                source(media="(max-width: 1050px)" srcset="img/predict/belt-tab.png")
                                img(src="img/predict/belt-desk.png" alt="text")
    .results
        .wrapp
            .results__title(data-translate="resultsTitle") Учасники
            .table
                .table__head
                    .table__row
                        .table__row-item(data-translate="tableId") ID Учасника
                        .table__row-item(data-translate="tableDate") Дата та час
                        .table__row-item(data-translate="tablePredict") Прогноз
                        .table__row-item(data-translate="tablePrize") Приз*
                .table__body
                    .table__body-scroll.unauth#table
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item Judges' decision
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item За рішенням суддів
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item ********
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 4
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item За рішенням суддів
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 1
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                        .table__row
                            .table__row-item 0000067
                            .table__row-item 08.08.2023 20:00
                            .table__row-item 12
                            .table__row-item 20 000 ₴
                .table__body#tableOther
                    //.table__row.you
                    //    .table__row-item 0000067
                    //        span.you(data-translate="you") Ти
                    //    .table__row-item 08.08.2023 20:00
                    //    .table__row-item 12
                    //    .table__row-item 20 000 ₴
            .bottom
                .details
                    .details__txt(data-translate="bottomDetails") * Точний приз (Бонус) у вигляді визначеної кількості електронних грошових замінників буде відомий після закінчення бою та доданий в таблицю наступного робочого дня. Призовий фонд буде розподілено між учасниками, які вказали точно в якому раунді закінчиться бій  та зробили підтверджувальну ставку, умови якої прописані в Офіційних правилах участі в Акції «Чемпіонський виклик» в п.9.3 та 9.4.
                    a.welcome__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="champion_challenge_usyk_15072025" data-button="authorization_footer") Авторизуйся
                    a.welcome__btn.btn.play-btn(data-translate="playBtn" href="/sports/event/boxing/42087017/" data-promo="champion_challenge_usyk_15072025" data-button="placeBet_footer") Зробити ставку
                .info(data-translate="bottomInfo") Під призовим фондом у 1 000 000 ₴ мається на увазі отримання призу у вигляді електронних грошових замінників в Акції «Чемпіонський виклик».Період дії акції – з 12:00 15.07.2025 по 22:29 19.07.2025 року. Деталі акції на сайті favbet.ua.
                .drop
                    details.dropdown
                        summary(data-translate="rulseBtn") Офіційні правила Акції «Чемпіонський виклик»
                        .drop-txt
                            .drop-txt-list(data-translate="rules")
                                p Login to the promotional page by clicking the "Login" button or register as a user. Select the exact match score and the team that will score first during the Promotion period. After entering the exact full-time match score and selecting the team, click the "Make a Prediction" button. Only the last prediction submitted by the Participant before the specified time of each individual match will be considered in the Promotion Place bets from 200 ₴ on matches, for each individual match in the Promotion. Only settled single bets ("Single") with a minimum odds of 2.0 are considered.xBets from the Bonus Account, bets marked as "Cash out", "Bet return", bets with the applied "Bet insurance"bonus, as well as bets from the "Cybersport (Pinnacle)" and "Fantasy Football" sections, are not consideLogin to the promotional page by clicking the "Login" button or register as a user. Select the exact match score and the team that will score first during the Promotion period. After entering the exact full-time match score and selecting the team, click the "Make a Prediction" button. Only the last prediction submitted by the Participant before the specified time of each individual match will be considered in the Promotion Place bets from 200 ₴ on matches, for each individual match in the Promotion. Only settled single bets ("Single") with a minimum odds of 2.0 are considered.xBets from the Bonus Account, bets marked as "Cash out", "Bet return", bets with the applied "Bet insurance"bonus, as well as bets from the "Cybersport (Pinnacle)" and "Fantasy Football" sections, are not considered.Login to the promotional page by clicking the "Login" button or register as a user. Select the exact match score and the team that will score first during the Promotion period. After entering the exact full-time match score and selecting the team, click the "Make a Prediction" button. Only the last prediction submitted by the Participant before the specified time of each individual match will be considered in the Promotion Place bets from 200 ₴ on matches, for each individual match in the Promotion. Only settled single bets ("Single") with a minimum odds of 2.0 are considered.xBets from the Bonus Account, bets marked as "Cash out", "Bet return", bets with the applied "Bet insurance"bonus, as well as bets from the "Cybersport (Pinnacle)" and "Fantasy Football" sections, are not considered.Login to the promotional page by clicking the "Login" button or register as a user. Select the exact match score and the team that will score first during the Promotion period. After entering the exact full-time match score and selecting the team, click the "Make a Prediction" button. Only the last prediction submitted by the Participant before the specified time of each individual match will be considered in the Promotion Place bets from 200 ₴ on matches, for each individual match in the Promotion. Only settled single bets ("Single") with a minimum odds of 2.0 are considered.xBets from the Bonus Account, bets marked as "Cash out", "Bet return", bets with the applied "Bet insurance"bonus, as well as bets from the "Cybersport (Pinnacle)" and "Fantasy Football" sections, are not considered.Login to the promotional page by clicking the "Login" button or register as a user. Select the exact match score and the team that will score first during the Promotion period. After entering the exact full-time match score and selecting the team, click the "Make a Prediction" button. Only the last prediction submitted by the Participant before the specified time of each individual match will be considered in the Promotion Place bets from 200 ₴ on matches, for each individual match in the Promotion. Only settled single bets ("Single") with a minimum odds of 2.0 are considered.xBets from the Bonus Account, bets marked as "Cash out", "Bet return", bets with the applied "Bet insurance"bonus, as well as bets from the "Cybersport (Pinnacle)" and "Fantasy Football" sections, are not considered.Login to the promotional page by clicking the "Login" button or register as a user. Select the exact match score and the team that will score first during the Promotion period. After entering the exact full-time match score and selecting the team, click the "Make a Prediction" button. Only the last prediction submitted by the Participant before the specified time of each individual match will be considered in the Promotion Place bets from 200 ₴ on matches, for each individual match in the Promotion. Only settled single bets ("Single") with a minimum odds of 2.0 are considered.xBets from the Bonus Account, bets marked as "Cash out", "Bet return", bets with the applied "Bet insurance"bonus, as well as bets from the "Cybersport (Pinnacle)" and "Fantasy Football" sections, are not considered.Login to the promotional page by clicking the "Login" button or register as a user. Select the exact match score and the team that will score first during the Promotion period. After entering the exact full-time match score and selecting the team, click the "Make a Prediction" button. Only the last prediction submitted by the Participant before the specified time of each individual match will be considered in the Promotion Place bets from 200 ₴ on matches, for each individual match in the Promotion. Only settled single bets ("Single") with a minimum odds of 2.0 are considered.xBets from the Bonus Account, bets marked as "Cash out", "Bet return", bets with the applied "Bet insurance"bonus, as well as bets from the "Cybersport (Pinnacle)" and "Fantasy Football" sections, are not considered.red.