button.menu-btn menu
.menu-test
    button.dark-btn dark
    button.lng-btn en
    button.auth-btn auth
    button.btn-predictNum прогноз 1
    button.btn-predictJud прогноз судді
    button.btn-confirmed confirmed
    button.btn-end end
.fav-page.loading#champion-challenge-usyk
    .spinner-overlay
        .spinner
    .welcome
        .wrapp
            .welcome__block
                .welcome__title
                    .welcome__title-top
                        picture.uk
                            img(src="https://fav-prom.com/html/champion-challenge/img/welcome/welcome-title1.png" alt="text")
                        picture.en
                            img(src="https://fav-prom.com/html/champion-challenge/img/welcome/welcome-title1-en.png" alt="text")
                    .welcome__title-bottom
                        picture.uk
                            img(src="https://fav-prom.com/html/champion-challenge/img/welcome/welcome-title2.png" alt="text")
                        picture.en
                            img(src="https://fav-prom.com/html/champion-challenge/img/welcome/welcome-title2-en.png" alt="text")
                .welcome__usyk
                    img(src="https://fav-prom.com/html/champion-challenge/img/welcome/usyk.png" alt="Usyk")
                .welcome__prize
                    .welcome__prize-top(data-translate="prizeFond") &#8203;
                    .welcome__prize-center(data-translate="prizeMoney") &#8203;
                    .welcome__prize-bottom(data-translate="prizeInfo") &#8203;
                a.welcome__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="champion_challenge_usyk_15072025" data-button="authorization_header") &#8203;
                button.welcome__btn.btn.scroll-part-btn.hide(data-translate="partBtn" data-promo="champion_challenge_usyk_15072025" data-button="takePart_header") &#8203;
                .drop.welcome__dropp
                    details.dropdown
                        summary(data-translate="detailsTitle" data-click-drop="дроп Правила") &#8203;
                        .drop-txt
                            .drop-txt-list(data-translate="detailsTxt") &#8203;
    .predict
        .wrapp
            .wrapp__cont
                .predict__top
                    .predict__title(data-translate="predictTitle") &#8203;
                    .predict__info(data-translate="predictInfo") &#8203;
                .predict__content
                    .predict__left
                        .predict__left-container
                            .predict__left-title(data-translate="yourPredict") &#8203;
                            .predict__left-block
                                button.predict__minus &#8203;
                                .predict__number &#8203;
                                .predict__judges._opacity(data-translate="judgesDecision") &#8203;
                                button.predict__plus &#8203;
                            a.welcome__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="champion_challenge_usyk_15072025" data-button="authorization_content") &#8203;
                            buttom.welcome__btn.btn.btn-join.hide(data-promo="champion_challenge_usyk_15072025" data-button="placeBet_content") #[span.btn-txt(data-translate="partBtn") &#8203;]
                        .predict__left-container
                            .predict__left-title(data-translate="lastPredict") &#8203;
                            .predict__left-last.number
                                .predict__left-fighter(data-translate="Usyk") &#8203;
                                .predict__left-counter -
                                .predict__left-fighter(data-translate="Dubois") &#8203;
                            .predict__left-last.judges.hide(data-translate="judgesDecision") &#8203;
                            .predict__left-result.confirmed.hide(data-translate="confirmed") &#8203;
                            .predict__left-result.unconfirmed(data-translate="unconfirmed") &#8203;
                    .predict__right
                        .predict__right-fighter
                            picture.uk
                                source(media="(max-width: 600px)" srcset="https://fav-prom.com/html/champion-challenge/img/predict/fighter-1-mob.png")
                                source(media="(max-width: 1050px)" srcset="https://fav-prom.com/html/champion-challenge/img/predict/fighter-1-tab.png")
                                img(src="https://fav-prom.com/html/champion-challenge/img/predict/fighter-1-desk.png" alt="text")
                            picture.en
                                source(media="(max-width: 600px)" srcset="https://fav-prom.com/html/champion-challenge/img/predict/fighter-1-mob-en.png")
                                source(media="(max-width: 1050px)" srcset="https://fav-prom.com/html/champion-challenge/img/predict/fighter-1-tab-en.png")
                                img(src="https://fav-prom.com/html/champion-challenge/img/predict/fighter-1-desk-en.png" alt="text")
                        .predict__right-fighter
                            picture.uk
                                source(media="(max-width: 600px)" srcset="https://fav-prom.com/html/champion-challenge/img/predict/fighter-2-mob.png")
                                source(media="(max-width: 1050px)" srcset="https://fav-prom.com/html/champion-challenge/img/predict/fighter-2-tab.png")
                                img(src="https://fav-prom.com/html/champion-challenge/img/predict/fighter-2-desk.png" alt="text")
                            picture.en
                                source(media="(max-width: 600px)" srcset="https://fav-prom.com/html/champion-challenge/img/predict/fighter-2-mob-en.png")
                                source(media="(max-width: 1050px)" srcset="https://fav-prom.com/html/champion-challenge/img/predict/fighter-2-tab-en.png")
                                img(src="https://fav-prom.com/html/champion-challenge/img/predict/fighter-2-desk-en.png" alt="text")
                        .predict__right-belt
                            picture
                                source(media="(max-width: 600px)" srcset="https://fav-prom.com/html/champion-challenge/img/predict/belt-mob.png")
                                source(media="(max-width: 1050px)" srcset="https://fav-prom.com/html/champion-challenge/img/predict/belt-tab.png")
                                img(src="https://fav-prom.com/html/champion-challenge/img/predict/belt-desk.png" alt="text")
    .results
        .wrapp
            .results__title(data-translate="resultsTitle") &#8203;
            .table
                .table__head
                    .table__row
                        .table__row-item(data-translate="tableId") &#8203;
                        .table__row-item(data-translate="tableDate") &#8203;
                        .table__row-item(data-translate="tablePredict") &#8203;
                        .table__row-item(data-translate="tablePrize") &#8203;
                .table__body#tableOther
                .table__body
                    .table__body-scroll.unauth#table
            .bottom
                .details
                    .details__txt(data-translate="bottomDetails") &#8203;
                    a.welcome__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="champion_challenge_usyk_15072025" data-button="authorization_footer") &#8203;
                    a.welcome__btn.btn.play-btn(data-translate="playBtn" href="/sports/event/boxing/42087017/" data-promo="champion_challenge_usyk_15072025" data-button="placeBet_footer") &#8203;
                .info(data-translate="bottomInfo") &#8203;
                .drop
                    details.dropdown
                        summary(data-translate="rulseBtn") &#8203;
                        .drop-txt
                            .drop-txt-list(data-translate="rules") &#8203;
